@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

$main-font: 'Montserrat', sans-serif;
$title-font: 'Rubik', sans-serif;
$light-gray-color: #f2f2fc;
$text-main-color: #504e70;
$text-title-color: #302e4d;
$red-color: #ec1839;
$white-color: #ffff;
$dark-gray-color: #e3e3e3;
$black-text-color: #333;
