.check {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  z-index: 10;

  &-result {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30rem;
      height: 5rem;
      font-weight: 600;
      background-color: #fa8383;
      color: white;
      font-size: 2rem;
      margin: 0 auto;
      border-radius: 1rem;
      box-shadow: 0 5px 0 0 #56226d;
    }
  }

  &-true {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #e2f6ff;
    position: relative;
    background-color: transparent !important;
    &-show {
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 600;
      position: absolute;
      top: 2rem;
      left: 2rem;
      color: #3498db;

      img {
        width: 3rem;
        margin-right: 1rem;
      }
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30rem;
      height: 5rem;
      font-weight: 600;
      background-color: #3498db;
      color: white;
      font-size: 2rem;
      margin: 0 auto;
      border-radius: 1rem;
      box-shadow: 0 5px 0 0 #1c75b1;
    }
  }

  &-false {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #fff2f1;
    position: relative;
    background-color: transparent !important;
    &-show {
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 600;
      position: absolute;
      top: 2rem;
      left: 2rem;
      color: #ff5467;

      img {
        width: 3rem;
        margin-right: 1rem;
      }
    }
    &-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30rem;
      height: 5rem;
      background-color: #ff5467;
      font-weight: 600;
      color: white;
      font-size: 2rem;
      margin: 0 auto;
      border-radius: 1rem;
      box-shadow: 0 5px 0 0 #cc283b;
    }
  }
}

.filter-blue {
  filter: invert(59%) sepia(18%) saturate(3662%) hue-rotate(177deg) brightness(88%) contrast(94%);
}
.filter-red {
  filter: invert(44%) sepia(59%) saturate(709%) hue-rotate(305deg) brightness(99%) contrast(105%);
}

.hideActive {
  background: #ccc;
  color: white;
  pointer-events: none;
  box-shadow: 0 5px 0 0 #ccc;
}
