.question {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 35vh;

  &-show {
    padding: 1rem;
  }
  &-button {
    display: inline-block;
    color: white;
    background: #fa8383;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  &-loading {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
  }
}
.hideButton {
  background: #ccc;
  color: #ccc;
  pointer-events: none;
}
