.show-result {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &-answer {
    width: 100%;
    height: 50vh;
    top: 100%;
    left: 0;

    position: absolute;

    &-true {
      margin-top: 2rem;
      margin-left: 1rem;
      font-size: 2.5rem !important;
      color: #3498db;
      font-weight: 600;
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        margin-right: 1rem;
        filter: invert(59%) sepia(18%) saturate(3662%) hue-rotate(177deg) brightness(88%) contrast(94%);
      }
    }

    &-false {
      margin-top: 2rem;
      margin-left: 1rem;
      font-size: 2.5rem !important;
      color: #ff5467;
      font-weight: 600;
      display: flex;
      align-items: center;

      img {
        width: 3rem;
        margin-right: 1rem;
        filter: invert(44%) sepia(59%) saturate(709%) hue-rotate(305deg) brightness(99%) contrast(105%);
      }
    }
  }
}

.true-result {
  background-color: #e2f6ff;
  top: 1rem;
  transition: all 0.2s;
  z-index: 9;
}
.false-result {
  background-color: #fff2f1;
  top: 1rem;
  transition: all 0.2s;
  z-index: 9;
}
.show-english-answer {
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: bold;
  color: #302e4d;
}
.show-vietnamese-answer {
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: bold;
  color: #302e4d;
}
