@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-weight: 500;
}

body {
  background: #ccc;
}

.activeNone {
  display: none !important;
}

.check-end {
  display: none !important;
}

.name {
  width: 100%;
  max-width: 37.5rem;
  height: 100vh;
  margin: 0 auto;
  background-color: #d1d8e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name-input {
  margin-top: 10vh;
  height: 10vh;
  font-size: 3rem;
  width: 80%;
  outline: none;
  border: none;
}
.name-submit {
  margin-top: 2rem;
  background-color: #1cb0f6;
  display: inline-block;
  color: white;
  font-size: 3rem;
  padding: 1rem 10rem;
  border-radius: 1rem;
  box-shadow: 0px 0.5rem 0px 0px #1899d6;
}
.name-check {
  margin-top: 10vh;
  color: white;
  font-size: 3rem;
  background-color: #eb3b5a;
  width: 100%;
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-input {
  display: none;
}

.app {
  width: 100%;
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;
  background: white;
}

.progress {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-bar {
  width: calc(100% - 2rem);
  height: 2vh;
  background: #ccc;
  border-radius: 1rem;
}
.progress-percent {
  width: 0%;
  height: 100%;
  background: #f39c12;
  border-radius: 1rem;
}

.audio {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audio-box {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
}
.audio img {
  margin-left: 1.5rem;
  height: 4rem;
  filter: invert(84%) sepia(46%) saturate(5554%) hue-rotate(353deg) brightness(98%) contrast(94%);
}

.hidePlay {
  pointer-events: none;
  filter: invert(82%) sepia(9%) saturate(10%) hue-rotate(60deg) brightness(96%) contrast(98%) !important;
}

.answer {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 100%;
  height: 35vh;
}
.answer-show {
  padding: 1rem;
}
.answer-button {
  display: inline-block;
  color: white;
  background: #fa8383;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.hidePointer {
  pointer-events: none;
}

.show-result {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.show-result-answer {
  width: 100%;
  height: 50vh;
  top: 100%;
  left: 0;
  position: absolute;
}
.show-result-answer-true {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 2.5rem !important;
  color: #3498db;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.show-result-answer-true img {
  width: 3rem;
  margin-right: 1rem;
  filter: invert(59%) sepia(18%) saturate(3662%) hue-rotate(177deg) brightness(88%) contrast(94%);
}
.show-result-answer-false {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 2.5rem !important;
  color: #ff5467;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.show-result-answer-false img {
  width: 3rem;
  margin-right: 1rem;
  filter: invert(44%) sepia(59%) saturate(709%) hue-rotate(305deg) brightness(99%) contrast(105%);
}

.true-result {
  background-color: #e2f6ff;
  top: 1rem;
  transition: all 0.2s;
  z-index: 9;
}

.false-result {
  background-color: #fff2f1;
  top: 1rem;
  transition: all 0.2s;
  z-index: 9;
}

.show-english-answer {
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: bold;
  color: #302e4d;
}

.show-vietnamese-answer {
  font-size: 2rem;
  padding-left: 1rem;
  font-weight: bold;
  color: #302e4d;
}

.question {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 35vh;
}
.question-show {
  padding: 1rem;
}
.question-button {
  display: inline-block;
  color: white;
  background: #fa8383;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
.question-loading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.hideButton {
  background: #ccc;
  color: #ccc;
  pointer-events: none;
}

.check {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  z-index: 10;
}
.check-result {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}
.check-result-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5rem;
  font-weight: 600;
  background-color: #fa8383;
  color: white;
  font-size: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 5px 0 0 #56226d;
}
.check-true {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent !important;
}
.check-true-show {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #3498db;
}
.check-true-show img {
  width: 3rem;
  margin-right: 1rem;
}
.check-true-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5rem;
  font-weight: 600;
  background-color: #3498db;
  color: white;
  font-size: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 5px 0 0 #1c75b1;
}
.check-false {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent !important;
}
.check-false-show {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #ff5467;
}
.check-false-show img {
  width: 3rem;
  margin-right: 1rem;
}
.check-false-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 5rem;
  background-color: #ff5467;
  font-weight: 600;
  color: white;
  font-size: 2rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 5px 0 0 #cc283b;
}

.filter-blue {
  filter: invert(59%) sepia(18%) saturate(3662%) hue-rotate(177deg) brightness(88%) contrast(94%);
}

.filter-red {
  filter: invert(44%) sepia(59%) saturate(709%) hue-rotate(305deg) brightness(99%) contrast(105%);
}

.hideActive {
  background: #ccc;
  color: white;
  pointer-events: none;
  box-shadow: 0 5px 0 0 #ccc;
}

.endgame {
  width: 100%;
  height: 100vh;
  background-color: #130f40;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.endgame-nameUser {
  color: #3498db;
  font-size: 4rem;
}
.endgame-score {
  color: #e74c3c;
  font-size: 3rem;
  font-weight: 600;
}
.endgame-view {
  margin-top: 2rem;
  color: #fa8231;
  font-size: 3rem;
}
.endgame-idTest {
  color: #f1c40f;
}
.endgame-join {
  text-align: center;
  min-width: 20rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 600;
  background-color: #3498db;
  padding: 1rem;
  color: white;
  box-shadow: 0 0 1rem 0 #5bb4f0;
  text-decoration: none;
}
.endgame-menu {
  text-align: center;
  min-width: 20rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 600;
  background-color: #e84118;
  padding: 1rem;
  color: white;
  box-shadow: 0 0 1rem 0 #a32201;
  text-decoration: none;
}
.endgame-geldun {
  min-width: 20rem;
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 600;
  background-color: #1abc9c;
  padding: 1rem;
  color: white;
  box-shadow: 0 0 1rem 0 #16a085;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
